ion-header{
  background: transparent;
  display: flex;
  justify-content: space-between;
  ion-icon{
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    font-size: 40px;
  }
}
ion-searchbar{
  --border-radius: 50px;
  --box-shadow: none;
  --color: #28BF73;
  --icon-color: #006F37;
  --background: rgba(0, 0, 0, 0.1);

}

ion-tab-bar{
  --border: none;
}

